# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.test hole.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\amedd\Desktop\test hole\.idea\.idea.test hole\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
