# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Hole game.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\amedd\Desktop\HOLE\Hole game\.idea\.idea.Hole game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
